.sidebar {
  background-color: whitesmoke;
  border: 1px solid darkgrey;
  border-bottom: none;
  border-top: none;
  display: inline-block;
  float: left;
  position: relative;
  height: calc(100vh - 64px);
  width: 210px;
}